/vendor
.config.json
data/auto.cnf
data/ca-key.pem
data/ca.pem
data/client-cert.pem
data/client-key.pem
data/ib_buffer_pool
data/ib_logfile0
data/ib_logfile1
data/ibdata1
data/ibtmp1
data/mysql
data/performance_schema
data/private_key.pem
data/public_key.pem
data/server-cert.pem
data/server-key.pem
data/sys
